<p>servers works!</p>
<div style="border: 1px solid; margin-left: 100px">
  <h5>Difference between the event binding and the twoWay data binding</h5>
  <h4>event binding</h4>
  <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
  />
  <br />
  <br />
  <h4>2 way data bind</h4>
  <input type="text" class="form-control" [(ngModel)]="currentServerName" />

  <button
    class="btn btn-primary"
    [disabled]="allowNewServer"
    (click)="onAddServer()"
  >
    Add server {{ currentServerName }}
  </button>
</div>

<br />
<br />
<!-- <div class="alert alert-success">{{ currentServerName }} {{ serverName }}</div> -->
<div *ngIf="serverCreated; else noServerMarker" class="alert alert-success">
  Server was created server name is {{ currentServerName }}
</div>

<ng-template #noServerMarker>
  <h1>Still no server is created !</h1>
  <hr />
</ng-template>
<app-server></app-server>
<app-server></app-server>
